@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600&family=Mukta:wght@200;300;400;500&family=Roboto&display=swap');
.app{
  height: 100vh;
  font-family: 'Hind Siliguri', sans-serif;
  color: #ebebeb;
  .sections{
    width: 100%;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
    > *{
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;

    }
  }
} 