.projects{
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .arrow {
    height: 55px;
    position:absolute;
    color: white;
    &.left{
      left:100px;
      transform: rotateY(180deg);
    }
    &.right{
      right: 100px;
    }
  }
  .heading{
    position:absolute;
    top:35px;
  }
  .slider{
    height: 350px;
    display: flex;
    position:absolute;
    left: 0;
    .container{
      display: flex;
       width: 100vw;
       justify-content: center;
       align-items: center;
       .item{
         width: 700px;
         height: 100%;
         background-color: white;
         border-radius: 20px;
         display: flex;
         justify-content: center;
         align-items: center;
         .left{
          flex:.55;
         }
         .right{
           flex:.55;
           flex:.45;
           height: 93%;
           background-color: black;
           border-radius: 20px;
           margin-left: 12px;
         }
       }
    }
  }
}