@import "../../global.scss";

.menu {
  width: 300px;
  height: 100vh;
  background-color: #323647;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1.2s ease;
  &.active {
    right: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 40px;
    color: white;
    font-size: 30px;
    font-weight: 300;
    width: 60%;
    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    li {
      &:hover {
        font-weight: 500;
        color: #ffc25b;
      }
      margin-bottom: 50px;
      a {
        font-size: inherit;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@include mobile {
  .menu{
    width: 100vw;
    right: -585px;
    transition: all 1.4s ease;
    &.active {
      right: 0;
    }
  }
  
}
