.aboutme{
  background-color: #323647;
  color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMeContainer{
  display: flex;
  flex-direction: row;
  .imgContainer{
    margin-right: 20px;
  }
  .contents{
    height: auto;
    .title{
      display: flex;
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 500;
    }
    .introduction{
      font-size: 16px;
      margin-bottom: 22px;
    }
  }
}
.aboutMeImg{
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 20px;
}




