.aboutme{
  background-color: #323647;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMeContainer{
  display: flex;
  flex-direction: row;
}
.aboutMeImg{
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 15px;
}
.text{

  .title{
    display: flex;

  }
}