@import "../../global.scss";

.aboutme {
  background-color: #323647;
  color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMeContainer {
  display: flex;
  flex-direction: row;
  
  .imgContainer {
    margin-right: 20px;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
  }
  .contents {
    height: auto;
    width: 550px;
    .title {
      display: flex;
      font-size: 30px;
      font-weight: 500;
    }
    .introduction {
      font-size: 16px;
      margin-bottom: 0.5rem;
    }
  }
}
.aboutMeImg {
  height: auto;
  width: 350px;
  object-fit: cover;
  border-radius: 20px;
}

@media screen and (max-width: 1088px) {
  .aboutme {
    display: flex;
    align-items: inherit;
  }
  .aboutMeContainer {
    display: flex;
    flex-direction: column;
    .imgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0px;
      height: 65%;
    }
    .contents {
      height: 100%;
      width: auto;
      padding: 1px;
      padding-left: 22px;
      padding-right: 22px;
      .title {
        justify-content: center;
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: 500;
        margin-top: -8px;
      }
      .introduction {
        font-size: 12.7px;
        margin-bottom: 6px;
      }
    }
  }
  .aboutMeImg {
    height: 250px;
    width: 250px;
  }
}
